<ion-view title="Lets know you" >
    <ion-content padding="'true'" > 
    <div class="hero no-header flat">
            <div class="content">
                {{err}}
                <div class="app-icon"></div>
               </div>
        </div>
       <div class="list">

         <form name="loginForm" class="list" novalidate ng-submit="submit(loginForm.$valid, username, password)">
           <p class="text-center assertive" ng-if="hasServerError" data-ng-bind="hasServerError"></p>
             <label class="item item-input item-floating-label input-calm">
                <span class="input-label">Username</span>
                <input type="text" placeholder="Username or Email" ng-model="username" required>
            </label>
            <label class="item item-input item-floating-label input-calm">
                <span class="input-label">Password</span>
                <input type="password" placeholder="Password" ng-model="password" required>
            </label>
            <div class="spacer" ></div>
            <button type="submit" class="button button-full button-positive-100 ink">Log in</button>
           
        </form>  
        </div>

               
        <button ui-sref="register" class="button button-balanced button-block">Sign Up</button>
    </ion-content>
</ion-view>
